*{
	margin: 0;
	padding: 0;
}

body{
	background-color:lightslategray;
	text-align: center;
}

.container{
	height:70vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.game{
	height : 60vmin;
	width : 60vmin;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1.5vmin;
	
}

.box{
	height: 18vmin;
	width: 18vmin;
	border-radius: 1rem;
	border: none;
	box-shadow: 0 0 1rem rgba(0,0,1, 0.3);
	font-size: 8vmin;
	background-color: yellow;
	color: black;
}
#reset-btn{
	padding: 1 rem;
	font-size: 1.25rem;
	color: red;
	background-color: black;
	border-radius: 5rem;
}

#new-btn{
	padding: 1 rem;
	font-size: 1.25rem;
	color: red;
	background-color: black;
	border-radius: 5rem;
}

#msg{
	color: blanchedalmond;
	font-size: 8;
}

.hide{
	display: none;
}

